<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.synjones.huixinexiao.module_card">

    <application
        android:theme="@style/BaseAppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".CardActivity"/>
        <activity android:name=".view.PayCodeActivity"/>
        <activity android:name=".view.AuthCodeActivity"/>
        <activity android:name=".zxing.CaptureActivity"/>
    </application>

</manifest>